<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>school details</h1>
        <table border="3px">
            <tr>
                <th>sname</th>
                <th>sprincipal</th>
                <th>sfee</th>
            </tr>
            {% for sc in sclist%}
            <tr>
                <th>{{sc.sname}}</th>
                <th>{{sc.sprincipal}}</th>
                <th>{{sc.sfee}}</th>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>